body {
  background-size: cover;
  font-family: 'Orbitron', sans-serif;

  z-index: 5;
}


.container {
  position: absolute;
  height: 88vh;
  width: 92%;
  border: 3px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  background-color: grey;
  z-index: 4;
}

.welcome {
  font-family: 'Orbitron', sans-serif;
  font-size: larger;
  margin: 10em auto;
  width: 50%;
}

.welcome p {
  line-height: 2;
}

#restart {
  color: white;
  font-family: 'Orbitron', sans-serif;;
  background-color: red;
  height: 60px;
  width: 120px;
  position: absolute;
  top: 30em;
  left: 52em;
}

.bomb {
  position: relative;
  display: inline-block;
  border: 2px solid black;
  width: 30%;
  height: 100%;
  border-radius: 20px;
  background-color: green;
  background-image: url(images/dynamite.svg), url(images/printed-circuit.jpg);
  background-position-x: center, center;
  background-repeat: no-repeat, no-repeat;
  z-index: 2;
}




.timer {
  background-color: white;
}

#left{ 
  margin-right: 13em;
  
}

#right{
  margin-left: 13em;
}

.timer {
  position: fixed;
  margin: 0 auto;
  top: 8%;
  left: 37%;
  width: 25%;
  height: 130px;
  border: 3px solid black;
  background-color: white;
}

#display {
  font-family: 'Orbitron', sans-serif;
  font-size: 85px;
  text-align: center;
  color: red;
}

.wire {
  position: relative;
  top: 3%;
  left: 100%;
  margin: 9.8em auto -6.5em auto;
  width: 150%;
  height: 8px;
  cursor: url(images/scissors-solid.svg), pointer;
  border: 2px solid black;
  z-index: 0;
}


.cutout {
  position: relative;
  left: 45%;
  margin: -3px auto;
  height: 30px;
  width: 60px;
  background-color: transparent;
}

#youwin {
  color: green;
  font-family: 'Orbitron', sans-serif;;
  font-size: 330px;
  text-align: center;
  margin: 40px auto;
  animation: fadeInAnimation ease 6s;
}

#gameover {
  color: red;
  font-family: 'Orbitron', sans-serif;;
  font-size: 300px;
  text-align: center;
  margin: 60px auto;
  animation: fadeInAnimation ease 6s;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
/* cutouts  for when the wire is clicked */

#C0{
  background-color: transparent;
}

#C1{
  background-color: transparent;
}

#C2{
  background-color: transparent;
}

#C3{
  background-color: transparent;
}

#C4{
  background-color: transparent;
}

#C5{
  background-color: transparent;
}

#C6{
  background-color: transparent;
}

#C7{
  background-color: transparent;
}


#C8{
  background-color: transparent;
}




#W0{

}

#W1{
}

#W2{

}

#W3{

}

#W4{

}


#W5{

}

#W6{

}


#W7{

}

#W8{
}


@media only screen and (max-width: 1152px){
  body {
    overflow: scroll;
  }
  
  #right {
    display: none;
  }

  .container {
    position: fixed;
    margin: auto;
    width: 80%;
  }

  .welcome {
    font-family: 'Orbitron', sans-serif;
    font-size: medium;
    margin: 1em auto;
    width: 90%;
  }

  .bomb {
    position: relative;
    display: inline-block;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: green;
    background-image: url(images/dynamite.svg), url(images/printed-circuit.jpg);
    background-position-x: center, center;
    background-repeat: no-repeat, no-repeat;
    z-index: 2;
  }

  .wire {
    position: relative;
    top: 20%;
    left: 1%;
    margin: 8em auto -6.5em auto;
    width: 30%;
    height: 8px;
    cursor: url(images/scissors-solid.svg), pointer;
    border: 2px solid black;

    z-index: 0;
  }

  .timer {
    position: absolute;
    margin: 0 auto;
    top: 8%;
    left: 62%;
    width: 100px;
    height: 43px;
    border: 3px solid black;
    background-color: white;
    z-index: 9;
  }
  
  #display {
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    font-size: 26px;
    text-align: center;
    color: red;
  }
  
  #gameover {
    color: red;
    font-family: 'Orbitron', sans-serif;;
    font-size: 100px;
    text-align: center;
    margin: 60px auto;
    animation: fadeInAnimation ease 6s;
  }

  #restart {
    color: white;
    font-family: 'Orbitron', sans-serif;;
    background-color: red;
    height: 60px;
    width: 120px;
    position: absolute;
    top: 30em;
    left: 10em;
  }
}

